appEscritorio/Connected Services/servicioEscritorio/ServicioProyec.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="mtdListarUsuarios">
        <s:complexType />
      </s:element>
      <s:element name="mtdListarUsuariosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mtdListarUsuariosResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdRegistrarUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objUsuar" type="tns:clUsuarios" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="clUsuarios">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdUsuario" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Documento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Apellido" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Telefono" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IdRol" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="mtdRegistrarUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="mtdRegistrarUsuarioResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdListarRol">
        <s:complexType />
      </s:element>
      <s:element name="mtdListarRolResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mtdListarRolResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="mtdListarUsuariosSoapIn">
    <wsdl:part name="parameters" element="tns:mtdListarUsuarios" />
  </wsdl:message>
  <wsdl:message name="mtdListarUsuariosSoapOut">
    <wsdl:part name="parameters" element="tns:mtdListarUsuariosResponse" />
  </wsdl:message>
  <wsdl:message name="mtdRegistrarUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:mtdRegistrarUsuario" />
  </wsdl:message>
  <wsdl:message name="mtdRegistrarUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:mtdRegistrarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="mtdListarRolSoapIn">
    <wsdl:part name="parameters" element="tns:mtdListarRol" />
  </wsdl:message>
  <wsdl:message name="mtdListarRolSoapOut">
    <wsdl:part name="parameters" element="tns:mtdListarRolResponse" />
  </wsdl:message>
  <wsdl:portType name="ServicioProyecSoap">
    <wsdl:operation name="mtdListarUsuarios">
      <wsdl:input message="tns:mtdListarUsuariosSoapIn" />
      <wsdl:output message="tns:mtdListarUsuariosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mtdRegistrarUsuario">
      <wsdl:input message="tns:mtdRegistrarUsuarioSoapIn" />
      <wsdl:output message="tns:mtdRegistrarUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mtdListarRol">
      <wsdl:input message="tns:mtdListarRolSoapIn" />
      <wsdl:output message="tns:mtdListarRolSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicioProyecSoap" type="tns:ServicioProyecSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="mtdListarUsuarios">
      <soap:operation soapAction="http://tempuri.org/mtdListarUsuarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdRegistrarUsuario">
      <soap:operation soapAction="http://tempuri.org/mtdRegistrarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdListarRol">
      <soap:operation soapAction="http://tempuri.org/mtdListarRol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServicioProyecSoap12" type="tns:ServicioProyecSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="mtdListarUsuarios">
      <soap12:operation soapAction="http://tempuri.org/mtdListarUsuarios" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdRegistrarUsuario">
      <soap12:operation soapAction="http://tempuri.org/mtdRegistrarUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdListarRol">
      <soap12:operation soapAction="http://tempuri.org/mtdListarRol" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioProyec">
    <wsdl:port name="ServicioProyecSoap" binding="tns:ServicioProyecSoap">
      <soap:address location="http://localhost:52016/ServicioProyec.asmx" />
    </wsdl:port>
    <wsdl:port name="ServicioProyecSoap12" binding="tns:ServicioProyecSoap12">
      <soap12:address location="http://localhost:52016/ServicioProyec.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>